In [ ]:
import pandas as pd
import numpy as np

In [1]:
import pandas as pd
        
sample_submission = pd.read_csv('dataset/sample_submission.csv')
sample_submission

         id  generated
0  0000aaaa        0.1
1  1111bbbb        0.9
2  2222cccc        0.4

In [2]:
import pandas as pd
        
test_essays = pd.read_csv('dataset/test_essays.csv')
test_essays

         id  prompt_id          text
0  0000aaaa          2  Aaa bbb ccc.
1  1111bbbb          3  Bbb ccc ddd.
2  2222cccc          4  CCC ddd eee.

In [3]:
import pandas as pd
        
train_essays = pd.read_csv('dataset/train_essays.csv')
train_essays

,id,prompt_id,text,generated
0,0059830c,0,Cars. Cars have been around since they became ...,0
1,005db917,0,Transportation is a large necessity in most co...,0
2,008f63e3,0,"""America's love affair with it's vehicles seem...",0
3,00940276,0,How often do you ride in a car? Do you drive a...,0
4,00c39458,0,Cars are a wonderful thing. They are perhaps o...,0
...,...,...,...,...
1373,fe6ff9a5,1,There has been a fuss about the Elector Colleg...,0
1374,ff669174,0,Limiting car usage has many advantages. Such a...,0
1375,ffa247e0,0,There's a new trend that has been developing f...,0
1376,ffc237e9,0,As we all know cars are a big part of our soci...,0
1377,ffe1ca0d,0,Cars have been around since the 1800's and hav...,0

In [6]:
train_essays.generated.value_counts()

generated
0    1375
1       3
Name: count, dtype: int64

In [4]:
import pandas as pd
        
train_prompts = pd.read_csv('dataset/train_prompts.csv')
train_prompts

,prompt_id,prompt_name,instructions,source_text
0,0,Car-free cities,Write an explanatory essay to inform fellow ci...,"# In German Suburb, Life Goes On Without Cars ..."
1,1,Does the electoral college work?,Write a letter to your state senator in which ...,# What Is the Electoral College? by the Office...

In [9]:
import pandas as pd
        
train_v2_drcat_02 = pd.read_csv('dataset/train_v2_drcat_02.csv')
train_v2_drcat_02

,text,label,prompt_name,source,RDizzl3_seven
0,Phones\n\nModern humans today are always on th...,0,Phones and driving,persuade_corpus,False
1,This essay will explain if drivers should or s...,0,Phones and driving,persuade_corpus,False
2,Driving while the use of cellular devices\n\nT...,0,Phones and driving,persuade_corpus,False
3,Phones & Driving\n\nDrivers should not be able...,0,Phones and driving,persuade_corpus,False
4,Cell Phone Operation While Driving\n\nThe abil...,0,Phones and driving,persuade_corpus,False
...,...,...,...,...,...
44863,"Dear Senator,\n\nI am writing to you today to ...",1,Does the electoral college work?,kingki19_palm,True
44864,"Dear Senator,\n\nI am writing to you today to ...",1,Does the electoral college work?,kingki19_palm,True
44865,"Dear Senator,\n\nI am writing to you today to ...",1,Does the electoral college work?,kingki19_palm,True
44866,"Dear Senator,\n\nI am writing to you today to ...",1,Does the electoral college work?,kingki19_palm,True
44867,"Dear Senator,\n\nI am writing to you today to ...",1,Does the electoral college work?,kingki19_palm,True

In [13]:
train_v2_drcat_02.prompt_name.value_counts()

prompt_name
Distance learning                        5554
Seeking multiple opinions                5176
Car-free cities                          4717
Does the electoral college work?         4434
Facial action coding system              3084
Mandatory extracurricular activities     3077
Summer projects                          2701
Driverless cars                          2250
Exploring Venus                          2176
Cell phones at school                    2119
Grades for extracurricular activities    2116
Community service                        2092
"A Cowboy Who Rode the Waves"            1896
The Face on Mars                         1893
Phones and driving                       1583
Name: count, dtype: int64

In [20]:
competition_dataset = pd.read_csv('dataset/train_essays.csv')
competition_dataset['label'] = competition_dataset['generated']
competition_dataset = competition_dataset.drop(columns = ['prompt_id', 'id', 'generated'])

extra_dataset = pd.read_csv('dataset/train_v2_drcat_02.csv')
extra_dataset = extra_dataset.drop(columns = ['prompt_name', 'source', 'RDizzl3_seven'])

dataset = pd.concat([competition_dataset, extra_dataset], ignore_index=True)

condition = dataset['label'] == 0
filtered_dataset = dataset[condition]
random_rows = filtered_dataset.sample(n=28000)
dataset = dataset.drop(random_rows.index)

condition = dataset['label'] == 1
filtered_dataset = dataset[condition]
random_rows = filtered_dataset.sample(n=16800)
dataset = dataset.drop(random_rows.index)

In [21]:
dataset.label.value_counts()

label
0    746
1    700
Name: count, dtype: int64

In [13]:
import pandas as pd

# Создаем пример DataFrame
data = {
    'id': range(10),
    'value': [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
}
df = pd.DataFrame(data)

df

   id  value
0   0      5
1   1     10
2   2     15
3   3     20
4   4     25
5   5     30
6   6     35
7   7     40
8   8     45
9   9     50

In [15]:
condition = df['value'] >= 25

# Отфильтруем DataFrame, чтобы оставить только строки, которые соответствуют условию
condition

0    False
1    False
2    False
3    False
4     True
5     True
7     True
9     True
Name: value, dtype: bool

In [ ]:
filtered_df = df[condition]

# Выберем случайные строки из отфильтрованного DataFrame
# Укажите количество строк, которые вы хотите удалить (например, 2)
random_rows = filtered_df.sample(n=2)

# Удалим выбранные строки из исходного DataFrame
df = df.drop(random_rows.index)
df